# Python Data Structure
Data structures are a way of storing and organizing data efficiently. This will allow you to easily access and perform operations on the data.
Luckily, Python has a host of in-built data structures that help us to easily organize our data. Therefore, it becomes imperative to get acquainted with these first so that when we are dealing with data, we know exactly which data structure will solve our purpose effectively.

# PDS 1:LIST
    Lists in Python are the most versatile data structure. They are used to store heterogeneous data items, 
    from integers to strings or even another list! 
    They are also mutable, which means that their elements can be changed even after the list is created.

In [1]:
#Creating a list
Alist = [] #empty list
Blist = [1,3,5,2] #list containing integers
Clist = ['Joe','Dan','Maddox']  #list containing names
print(type(Alist))  
print(type(Blist))
print(type(Clist))

<class 'list'>
<class 'list'>
<class 'list'>

In [2]:
print(Alist)
print(Blist)
print(Clist)

[]
[1, 3, 5, 2]
['Joe', 'Dan', 'Maddox']

In [3]:
#Mixed list
Dlist = [1,'Joe', 'maddox',6]
print(Dlist)

[1, 'Joe', 'maddox', 6]

In [4]:
#List of List
Elist = [[1,2,3],['Italy','Greece','Vatican'],[1,3,3],['coaster','digestive','speedy']]
print(Elist)

[[1, 2, 3], ['Italy', 'Greece', 'Vatican'], [1, 3, 3], ['coaster', 'digestive', 'speedy']]

# LIST INDEXING

In [5]:
#indexing starts from zero i.e  1  in Blist is at index 0, 3 at index 1 and so on
print(Blist[1])
#string 'joe' in Clist is at index 1, 'maddox' at index 2 and 6 at index 3 
print(Clist[2])

3
Maddox

In [6]:
#indexing in list of list
print(Elist[0][1])
print(Elist[1][2])
print(Elist[2][1])
print(Elist[3][0])

2
Vatican
3
coaster

In [7]:
#Negative indexing
print(Elist[0][-1])
print(Elist[-1][2])
print(Elist[2][1])
print(Elist[3][-2])

3
speedy
3
digestive

In [8]:
#Negative indexing
print(Blist[-2])
print(Clist[-1])

5
Maddox

# LIST OPERATION

In [9]:
#List concatenation
print(Alist + Blist)
print(Blist[1] + Blist[2])

[1, 3, 5, 2]
8

Slicing of a list means selecting multiple elements from a list
my_list[start:end]

In [10]:
#Slicing
print(Blist[0:2]) # start at 0 stop at 2
print(Blist[1:2]) #start from 1 stop at 2
print(Blist[:2]) #stop at 2 i.e kinda shortcut
print(Blist[1:]) #start from 1 to the end

[1, 3]
[3]
[1, 3]
[3, 5, 2]

In [11]:
#replacing a list
Alist = Blist
print(Alist)
Blist[0] = 'Joe'
print(Blist)

[1, 3, 5, 2]
['Joe', 3, 5, 2]

In [12]:
#using append $ insert function
Blist.append('Roy') #adding to a list
print(Blist)

Blist.insert(2,'Frank') #inserting to a list at index 2
print(Blist)

['Joe', 3, 5, 2, 'Roy']
['Joe', 3, 'Frank', 5, 2, 'Roy']

In [13]:
print(Blist[:]) # read on it
len(Blist) #length of list

['Joe', 3, 'Frank', 5, 2, 'Roy']

6

In [14]:
mylist = [2,9,3,4,12,5,4,20,4,8,15]

In [15]:
mylist.pop() #remove the last element from a list
print(mylist)
mylist.pop(1)
print(mylist)

[2, 9, 3, 4, 12, 5, 4, 20, 4, 8]
[2, 3, 4, 12, 5, 4, 20, 4, 8]

In [16]:
# This method doesn't return anything.
# Instead it performs the action "in-place" , or on the list itself without returning anything.
mylist.reverse()
mylist

[8, 4, 20, 4, 5, 12, 4, 3, 2]

In [17]:
# Also in place
mylist.sort(reverse=True)
mylist

[20, 12, 8, 5, 4, 4, 4, 3, 2]

In [18]:
mylist.insert(3,10)
mylist

[20, 12, 8, 10, 5, 4, 4, 4, 3, 2]

In [19]:
mylist.count(4)

3

In [20]:
mylist.index(8)

2

# LIST COMPREHENSION

List comprehensions provide a concise way to create lists. 
Common applications are to make new lists where each element is the result of some operations
applied to each member of another sequence or iterable, or to create a subsequence of those 
elements that satisfy a certain condition.

In [21]:
squares = []
for x in range(10):
    squares.append(x**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [22]:
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [23]:
 [(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [24]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [25]:
list2 = [-3, -2, 0, 2, 4] 
[x*2 for x in list2]

[-6, -4, 0, 4, 8]

In [26]:
[abs(x) for x in list2] #absolute value of list

[3, 2, 0, 2, 4]

In [27]:
[x for x in list2 if x >= 0]

[0, 2, 4]

In [28]:
del list2[1]
list2

[-3, 0, 2, 4]

# PDS 2: Tuples

A tuple consists of a number of values separated by commas denoted by () 
Though tuples may seem similar to lists, they are often used in different 
situations and for different purposes. Tuples are immutable, and usually 
contain a heterogeneous sequence of elements

In [29]:
tup = 12345, 54321, 'hello!'
tup[0]

12345

In [30]:
tup
# Tuples may be nested:
newtup = tup, (1, 2, 3, 4, 5)
u

NameError: name 'u' is not defined

In [ ]:
# Tuples are immutable:
tup[0] = 88888

# Sets

Python also includes a data type for sets. A set is an unordered collection 
with no duplicate elements. Basic uses include membership testing and eliminating 
duplicate entries. Set objects also support mathematical operations like union, 
intersection, difference, and symmetric difference.

Curly braces or the set() function can be used to create sets
Note: to create an empty set you have to use set(), not {}; the latter creates an empty dictionary.

In [31]:
fruit = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
fruit

{'apple', 'banana', 'orange', 'pear'}

In [32]:
'lemon' in fruit

False

In [33]:
a = set('abracadabra')
a

{'a', 'b', 'c', 'd', 'r'}

In [34]:
b = set('alacazam')
b

{'a', 'c', 'l', 'm', 'z'}

In [35]:
a - b

{'b', 'd', 'r'}

In [36]:
a | b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [37]:
a & b

{'a', 'c'}

In [45]:
a ^ b

{'a', 'c', 'd', 'l', 'm', 'r', 'z'}

# Dictionary
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [46]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [47]:
x = thisdict["model"]

In [48]:
x

'Mustang'

In [49]:
x = thisdict.get("model")

In [50]:
x

'Mustang'

In [51]:
thisdict["year"] = 2018
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [52]:
for x in thisdict:
  print(x)

brand
model
year

In [53]:
for x in thisdict.values():
  print(x)

Ford
Mustang
2018

In [54]:
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 2018

In [55]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [56]:
print(len(thisdict))

3

In [57]:
print(len(thisdict))

3

In [58]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [59]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [60]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [61]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [62]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [63]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [64]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}